*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.bgAndCon{
    width: 100%;
    height: 100vh;
    position: relative ;
    padding: 0.5%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* background-attachment: fixed; */
}

.vdo{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.content{
    /* padding: 50% 0; */
    text-align: center;
    /* border: 10px solid black; */
}

.content h1{
    font-weight: 600;
    font-size: 100px;
}

.content h1:hover{
    transition: 0.4s;
    -webkit-text-stroke: 2px burlywood;
    color: transparent;
}

.link{
    text-decoration: none;
    font-size: 50px;
    border: 2px solid white;
    padding: 10px 50px;
    color: whitesmoke;
    background-color: rgba(55, 55, 55,0.5);
}

.link:hover{
    color: rgba(245, 245, 245, 0.537);
}

@media (min-aspect-ratio: 16/9) {
    .vdo {
    width: 100%;
    height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .vdo {
    width: auto;
    height: 100vh;
    }
}