*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper{
    /* width: 100%; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.wrapper .loader{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}
.loader .loading{
    /* border: 10px solid black; */
    background-color: palegreen;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 0 25px;
    animation: load 1.2s ease infinite;
}

.loader .loading.first{
    animation-delay: 0.2s;
}

.loader .loading.second{
    animation-delay: 0.4s;
}

.loader .loading.third{
    animation-delay: 0.6s;
}

.loader .loading.forth{
    animation-delay: 0.8s;
}

.loader .loading.fifth{
    animation-delay: 1s;
}

@keyframes load {
    0%{
        width: 200px;
        height: 200px;
    }
    50%{
        width: 100px;
        height: 100px;
    }
}